:root {
  background-color: var(--background-color);

  --primary-color: #a3966a;
  --secondary-color: #f0daae;
  --dynamic-color: #90553c;
  --dynamic-color-50: rgba(144, 85, 60, 0.3);
  --background-color: rgb(255, 255, 255);
  --dynamic-hover-color: #90553c;
  --button-hover-color: #fff0d4;
  --outline-color-30: rgba(0, 0, 0, 0.3);
  --outline-color-50: rgba(0, 0, 0, 0.5);
  --outline-color: black;
  --text-color: black;
  --text-color-alt: black;
  --button-font-size: 1.2rem;
}
